<!DOCTYPE html>
<html lang = "en">
	
	<head>
		<meta charset="utf-8">
		<title>Search</title>
	</head>

	<body>

		<h> hello! </h>
	
	<form name = "Selection" action="/select" method="POST">
		<select name =  "Where">
			<option value = "West Village"> West Village </option>
			<option value = "East Village"> East Village </option>
		</select>

		<select name = "What">
			<option value = "Japanese"> Japanese </option>
			<option value = "Italian"> Italian </option>
		</select>		
		
		<button type="submit"> Tell me what to eat! </button>
	</form>
	
	
	

	</body>

</html>